body{
	margin: 0;
   	padding: 0;

	font-size: 13px;
	line-height: 24px;
	color: #000;
	font-family: "Cuprum", sans-serif;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.btn{
	display: block;
	width:200px;/*для разметки*/
	padding:12px 10px;

	color:#fff;
	text-decoration: none;
	background-color: #ee3643;
	border-radius: 5px;
}

h2{
	font-size: 30px;
	text-transform: uppercase;
}
.container{
  	width: 940px;
 	margin: 0 auto;

 	background-color: rgba(250,0,0,0.2)
}
.main-header-container{
	padding-bottom: 60px;
	background-color: #f1f5f7;
}
.logo{	float:left; }
.logo a{
	display: block;
	padding:10px 50px;

	text-transform: uppercase;
	font-weight:bold;	
	color: #fff;
	text-decoration: none;
	font-size: 24px;	/*мне кажется он какой-то маленький*/

	background-color: #ee3643;
	box-shadow:0 5px #b52933;
}
input[type="search"]{
	margin-left:45px;
	/*width:270px;*/
}
.status-bar{	background-color: #293449; }
.status-bar a{
	display:inline-block;
	padding:10px 30px;

	color:#fff;
	text-decoration: none;
	font-size: 17px;
}
.order {	background-color: #63a63e; }
.header-info{	padding-top: 45px; }
.short-info{
	float: left;
	width:200px;
	margin:50px;
	margin-bottom: 40px;
	margin-top: 5px;

	font-style: italic;
	color:#ee3643;
	font-size: 16px;
}
.contacts{
	float:left;
	margin-left:19px;
}
.contacts a{
	display: block;
	padding-left: 67px;
	width:197px;

	border:3px solid #fff;

	color:#e9292a;
	text-decoration: none;
	font-size: 21px;
}
.contacts p{
	font-size: 14px;
	color: #32425c;
}
.user-block{
	margin-left: 660px;
	font-size: 0;
}
.user-block a{
	display: inline-block;
	padding: 15px 25px;
	background-color: #fff;
	text-decoration: none;
	color: #000;
	font-size: 21px;
}
.login{
	width:50px;
	padding-left: 45px;/*почему-то не сработал*/	
}
.registration{
	width:100px;
	margin-left: 10px;
}
.menu-in-header{
	background-color: #32425c;
	padding-left: 20px;
	box-shadow:0 5px #293449;
}
.menu li{	display:inline-block; }
.menu a{
	display:inline-block;
	padding:20px 30px;

	text-decoration: none;
	color:#fff;
	font-size: 17px;
}
.promo{
	margin-bottom: 53px;
}
.flag{
	display:none;
}
.promo-item{
	float: left;
	width:300px;
	height:123px;
	margin-bottom: 20px;
	margin-left: 20px;

	color:#fff;
	font-size: 24px;
	font-weight: bold;
}
.promo-item a{
	color:#fff;
	text-decoration: none;
}
.promo-item-1{
	background:#f6b22d;
	margin-left: 0;
}
.promo-item-2{
	background:#4aafde;

}
.promo-item-3{
	background:#cc79d1;

}
.promo-item-4{
	background:#85d179;
}
.promo-item-5{
	background:#f6b22d;
	margin-bottom: 0;
}
.item-perforator{
	display:none;
}
.promo-slider {
	float: left;
	position:relative;
	width:620px;
	height:266px;
}
.slider__item-title,
.slider__item-slogan{
	position: absolute;
	left:25px;
	color:#fff;
}
.slider__item-title{
	top:25px;
	font-size: 36px;
}
.slider__item-slogan{
	top:65px;
	font-size: 18px;
}
.toggle{
	position: absolute;
}
input[name="toggle"]{
	display:none;
}
.controls{
	position: absolute;
	top:110px;
	font-size: 45px;/*тут не то немного пока, когда разберусь с подключением иконочных шрифтов сделаю как надо*/
	color:#fff;
	text-decoration: none;
}
.prev{
	left: 25px;
}
.next{
	right: 25px;
}
.open-catalog{
	position: absolute;
	left: 25px;
	bottom: 22px;
	width: 195px;
}
.actions{
	display:none;
}
.items-product{
	font-size: 0;
	margin-bottom: 21px;
}
.item{
	display: inline-block;
	margin-right: 20px;
	width:218px;
	height:320px;

	vertical-align: middle;
	font-size: 18px;
	font-family: 'PT Sans', 'Arial', sans-serif;

	border:1px solid #e5e5e5;
	background-color: rgba(0,0,250,0.2);
}
.item:last-child{
	margin-right: 0;
}
.popular-title{

	padding:26px 24px;
	margin-bottom: 20px;

	background-color: #f7f3ec;	
}
.popular-title h2{
	float: left;
}
.popular-title .btn{
	margin-left: 663px;/*не получается поставить как надо*/
	widht:253px;
}
.brands{
	font-size: 0;
}
.brand{
	display: inline-block;
	width:218px;
	height:145px;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: middle;
	border:1px solid #e5e5e5;

	background-color: rgba(0,0,250,0.2);
}
.brand:nth-child(4n){ 
	margin-right: 0;
}
.services{
	padding-top: 65px;
	padding-bottom: 100px;

	background-color: #f1f5f7;
}
.services-title{
	margin-bottom: 35px;
}
.services-info{
	margin-bottom: 45px;
}
.services-slider-controls{
	float:left;
}
.services-slider-controls a{
	display: block;
	width: 217px;
	height: 60px;
	padding-left: 23px;

	color: #fff;
	text-decoration: none;

	background-color: #32425c;
}
.slider-inner{
	margin-left: 320px;
}
.guarantee,
.credit{
	display: none;
}
.delivery-title,
.guarantee-title,
.credit-title{
	font-size: 30px;
	margin-bottom: 35px;
}

.delivery-info,
.guarantee-info,
.credit-info{
	width: 300px;
}



.main-footer-header,
.main-footer-container{
	background-color: #32425c;
}
.main-footer-footer{
	background-color: #293449;
}