@charset "UTF-8";

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?22619757');
  src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?22619757') format('woff'),
       url('../font/symbols-technomart.ttf?22619757') format('truetype'),
       url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */

body {
	margin: 0;
   	padding: 0;

	font-size: 13px;
	line-height: 24px;
	color: #000;
	font-family: "Cuprum", Arial, sans-serif;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.btn {
	display: block;
	width:200px;
	padding:12px 10px;

	color:#fff;
	text-decoration: none;
	background-color: #ee3643;
	border-radius: 5px;
}
h2,h1 {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
h1 {
	padding:30px;
	color: #32425c;
	background-color: #f2f6f8;
}
.container {
  	width: 940px;
 	margin: 0 auto;
}
/*header*/
/*header 1*/
.main-header-container{
	padding-bottom: 65px;
	background-color: #f1f5f7;
}
.status-bar {	
	background-color: #293449;
	font-size: 0px;
}
.logo {	float:left; }
.logo a {
	display: block;
	padding: 52px;
	padding-top: 10px;
	padding-bottom: 8px;

	text-transform: uppercase;
	font-weight:bold;	
	color: #fff;
	text-decoration: none;
	font-size: 24px;	

	background-color: #ee3643;
	box-shadow:0 5px #b52933;
}
.search {
	padding-top:10px;/*что-то не получается у меня по иксам выровнять*/
	padding-left: 10px;
	padding-bottom: 9px;
	padding-left: 0;
	width:210px;

	color:#fff;
	font-size: 17px;
	font-family: "Cuprum", Arial, sans-serif;

	border:none;
	background-color: #293449;
}
.status-bar-links a {
	display:inline-block;
	padding:10px 20px;
	padding-bottom: 9px;

	color:#fff;
	text-decoration: none;
	font-size: 17px;
}
.status-bar-links a:first-child {
	padding:0;
	padding-left:17px;
}
.status-bar-links i {
	opacity: .3;
	margin-right: 15px;
}
.catalog-basket { background-color: #ee3643; }
.order {	
	background-color: #63a63e;
	margin-left: 9px;
}

/*header2*/
.header-info {	
	padding-top: 46px; 
	padding-left: 51px;
	padding-bottom: 38px;
}
.short-info {
	float: left;
	width:200px;

	font-style: italic;
	color:#ee3643;
	font-size: 16px;
}
.contacts{
	float:left;
	margin-left:70px;
}
.contacts a{
	display: block;
	margin-bottom: 3px;
	padding:8px;
	padding-left:10px;	
	padding-right: 50px;

	color:#e9292a;
	text-decoration: none;
	font-size: 21px;

	border:3px solid #fff;
}
.contacts i {
	margin-right: 25px;
	color: #b7bfc8;
	font-size: 22px;
}
.contacts p{
	margin-left: 10px;
	font-size: 14px;
	color: #32425c;
}
.user-block{
	margin-left: 607px;
	font-size: 0;
}
.login,
.registration,
.user-name{
	display: inline-block;
	padding-top: 11px;
	padding-bottom: 10px;
	
	text-decoration: none;
	color: #000;
	font-size: 21px;

	background-color: #fff;
}
.login {
	width:79px;
	padding-left:15px;
	padding-right: 27px;
}
.registration {
	width:100px;
	margin-left: 10px;
	padding-left:25px;
	padding-right: 25px;
}
.user-block-links {
	font-size: 16px;
	line-height: 18px;
}
/*header3*/
.menu-in-header {
	padding-left: 20px;
	box-shadow:0 5px #293449;
	background-color: #32425c;
}
.menu li {	display:inline-block; }
.menu a {
	display:inline-block;
	padding:15px 30px;

	text-decoration: none;
	color:#fff;
	font-size: 17px;
}
/*breadcrums catalog*/
.breadcrumbs {
	font-size: 0px;
}
.breadcrumbs a,
.breadcrumbs span{
	display: inline-block;
	text-decoration: none;
	color:#000;
	text-transform: uppercase;
	padding:25px 15px;
	font-size: 13px;
}
/*promo index*/

.promo{
	margin-bottom: 53px;
	padding-top: 59px;
}
.flag{
	display:none;
}
.promo-item{
	float: left;
	width:300px;
	height:123px;
	margin-bottom: 20px;
	margin-left: 20px;

	color:#fff;
	font-size: 24px;
	font-weight: bold;
}
.promo-item a{
	color:#fff;
	text-decoration: none;
}
.promo-item-1{
	background:#f6b22d;
	margin-left: 0;
}
.promo-item-2{
	background:#4aafde;

}
.promo-item-3{
	background:#cc79d1;

}
.promo-item-4{
	background:#85d179;
}
.promo-item-5{
	background:#f6b22d;
	margin-bottom: 0;
}
.item-perforator{
	display:none;
}
.promo-slider {
	float: left;
	position:relative;
	width:620px;
	height:266px;
}
.slider__item-title,
.slider__item-slogan{
	position: absolute;
	left:25px;
	color:#fff;
}
.slider__item-title{
	top:25px;
	font-size: 36px;
}
.slider__item-slogan{
	top:65px;
	font-size: 18px;
}
.slider-toggle{
	position: absolute;
}
.controls{
	position: absolute;
	top:110px;
	font-size: 45px;
	color:#fff;
	text-decoration: none;
}
.prev{
	left: 25px;
}
.next{
	right: 25px;
}
.open-catalog{
	position: absolute;
	left: 25px;
	bottom: 22px;
	width: 195px;
}
/*popular index*/

.actions{
	display:none;
}

.items-product,
.catalog-items{
	font-size: 0;

}
.item{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	width:218px;
	height:320px;

	vertical-align: middle;
	font-size: 18px;
	font-family: 'PT Sans', 'Arial', sans-serif;

	border:1px solid #e5e5e5;

}
.index-item:last-child{
	margin-right: 0;
}
.popular-title{

	padding:26px 24px;
	margin-bottom: 20px;

	background-color: #f7f3ec;	
}
.popular-title h2{
	float: left;
}
.popular-title .btn{
	margin-left: 663px;
}
.brands{
	font-size: 0;
}
.brand{
	display: inline-block;
	width:218px;
	height:145px;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: middle;
	border:1px solid #e5e5e5;
}
.brand:nth-child(4n){ 
	margin-right: 0;
}
/*services index*/

.services{
	padding-top: 65px;
	padding-bottom: 100px;

	background-color: #f1f5f7;
}
.services-title{
	margin-bottom: 35px;
}
.services-info{
	margin-bottom: 45px;
}
.services-slider-controls{
	float:left;
}
.services-slider-controls a{
	display: block;
	width: 217px;
	height: 60px;
	padding-left: 23px;

	color: #fff;
	text-decoration: none;

	background-color: #32425c;
}
.slider-inner{
	margin-left: 320px;
}
.guarantee,
.credit{
	display: none;
}
.delivery-title,
.guarantee-title,
.credit-title{
	font-size: 30px;
	margin-bottom: 35px;
}
.delivery-info,
.guarantee-info,
.credit-info{
	width: 300px;
}

/*info index*/

.index-info{
	padding-top: 80px;
	padding-bottom: 86px;
}
.index-info-title{
	font-size: 30px;
	margin-bottom: 35px;
}
.about-company{
	float:left;
	width: 530px;
}
.about-company-first{
	margin-bottom: 35px;
}
.about-company-second{
	margin-bottom: 28px;
}
.transport-companies li{
	margin-bottom:25px;
}
.transport-companies li:last-child{
	margin-bottom:35px;
}
.maps{
	width:300px;
	margin-left: 640px;
}
.maps-info{
	width: 190px;
	margin-bottom: 35px;
}
.map{
	display: block;
	margin-bottom: 40px;
}

/*catalog-info*/
.catalog-info {
	background-color: #f2f6f8;
	padding:70px 0;
}

.catalog-info-title {
	font-size: 30px;
	text-transform: uppercase;
}

/*catalog columns*/

.filters-column {
	float: left;
	width:220px;
}
.items-column {
	float:left;
	margin-left: 20px;
	width: 700px;
}

.filters-column-title,
.sort {
	margin-bottom: 20px;
	padding: 14px 0;
	padding-left: 18px;
	border-radius: 2px;

	font-size: 13px;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;

	background-color:#f7f3ec;
}
.range-filter-title,
.manufacturer-filter-title,
.power-filter-title{
	margin-bottom: 20px;
	font-size: 17px;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.range-controls {
	height:80px;
	margin-bottom: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color:#f7f3ec;
}
.price-controls{
	margin-bottom: 15px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
}
input[type="text"] {
	width: 95px;
	padding:10px 0;
	border: none;

	font-size: 17px;
	font-family: "PT Sans", Arial, sans-serif;

	background-color:#f7f3ec;
}
.manufacturer-filter{
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 25px;
}
.power-filter{
	margin-bottom: 70px;
}
input[type="checkbox"],
input[type="radio"] {
	display: none;
}
label {
	display: block;
	padding:10px;
	font-size: 15px;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
}

input[type="checkbox"]+label::before {
	content: '\2610';
	font-family: "symbols-technomart";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 15px;
	color:#000;
}

input[type="checkbox"]:checked+label::before {
	content: '\2611';
}
input[type="radio"]+label::before {
	content: '\25cb';
	font-family: "symbols-technomart";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 15px;
	color:#000;
}

input[type="radio"]:checked+label::before {
	content: '\25cf';
}
.sort-title {
	float:left;
}
.catalog-item:nth-child(3n){
	margin-right:0;
}
.paginator {
	font-size: 0px;
	margin-bottom: 60px;
}
.paginator a,
.paginator span {
	display: inline-block;
	margin-right: 10px;
	padding:10px;
	border: 1px solid #e5e5e5;
	font-size: 13px;
	font-family: "PT Sans", Arial, sans-serif;
	text-decoration: none;
	color:#000;
	text-align: center;
	vertical-align: middle;
}

/*footer*/

.main-footer-header,
.main-footer-container{
	background-color: #32425c;
}
.main-footer-footer{
	background-color: #293449;
}
.shop-copyright{
	float:left;
	widht:250px;
}
.social{
	float: left;
	width: 300px;
	margin-left: 80px;

}

.social-btn {
	color:#fff;
}
.feedback{
	float: left;
	width:160px;
	margin-left: 20px;
}
.web-copyright{
	width: 150px
	margin-left: 20px;
}


